/vendor/
composer.lock
/debian/debs2sql/


/nbproject/
/debian/debhelper-build-stamp
/debian/debs2sql.debhelper.log
/debian/debs2sql.substvars
/debian/files
/.phpunit.result.cache
/debian/.debhelper/
