/vendor/
composer.lock
/debian/debs2sql/
/.php-cs-fixer.cache

/nbproject/
/debian/debhelper-build-stamp
/debian/debs2sql.debhelper.log
/debian/debs2sql.substvars
/debian/files
/.phpunit.result.cache
/debian/.debhelper/
/tests/.phpunit.result.cache
/.phpunit.cache/
