Source: debs2sql
Section: unknown
Priority: optional
Maintainer: CyberVitexus <info@vitexsoftware.cz>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: https://github.com/VitexSoftware/DEBs-to-SQL

Package: debs2sql
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, php-vitexsoftware-ease-fluentpdo, php-robmorgan-phinx
Description: Index Debian package repository into SQL
 Easy way how to index your Debian repository into SQL database. 
 All PHP-pdo databases supported.


