#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@ --with phpcomposer

#override_dh_auto_install:
#       dh_auto_install -- prefix=/usr

override_dh_install:
	dh_install
	install -D -m 0644 debian/autoload.php debian/debs2sql/usr/share/php/debs2sql/autoload.php
	sed -i -e 's/..\/vendor/\/usr\/share\/php\/debs2sql/g' debian/debs2sql/usr/*/debs2sql/*.php
	sed -i -e 's/\.\.\/.env/\/etc\/debs2sql\/\.env/g'  debian/debs2sql/usr/*/debs2sql/*.php
#	sed -i -e 's/..\/i18n/\/usr\/share\/locale/g'      debian/debs2sql/usr/*/debs2sql/*.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" \
		debian/debs2sql/usr/share/php/debs2sql/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" \
		debian/debs2sql/usr/share/php/debs2sql/autoload.php
