#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

#override_dh_auto_install:
#       dh_auto_install -- prefix=/usr

override_dh_install:
	dh_install
	jq '.version = "$(shell dpkg-parsechangelog --show-field Version)"' debian/conf/composer.json | sponge debian/conf/composer.json
	sed -i -e 's/..\/vendor/\/var\/lib\/debs2sql/g' debian/debs2sql/usr/lib/debs2sql/indexer.php
	sed -i -e 's/\.\.\/.env/\/etc\/debs2sql\/\.env/g'  debian/debs2sql/usr/lib/debs2sql/*.php
#	sed -i -e 's/..\/i18n/\/usr\/share\/locale/g'      debian/debs2sql/usr/lib/debs2sql/*.php
